
<h1>Food Truck Map</h1>

<<<<<<< HEAD
<div id="container">
	<div id="map-canvas"></div>
	<div id="out"></div>
</div>
=======
<button onclick="geoFindMe()">Show my location</button>

<div id="out"></div>


 
>>>>>>> 549eebbbfec7d6708b0f033d758d0f91ad594413
