
<h1>Food Truck Map</h1>
<div id="map-canvas"></div>

<button onclick="geoFindMe()">Show my location</button>

<div id="out"></div>


<%= link_to "Retrieve GPS from Browser", trucks_finder_path %>

<button><%= link_to "get GPS", trucks_finder_path %></button>


 
