<h1>Trucks -> Index</h1>
<% @trucks.each do |truck| %>
<p><%= truck.name %><p>
<% end %>

<iframe width='500' height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/camicano.map-iyrwvy16.html#13/40.73685214795608/-73.9266586303711'></iframe>

<%= link_to "get GPS", trucks_finder_path %>