<div id="container">
<div id="sixteen columns">
	<div id="offset-by-four">
<h1 style="color: #fff">Food Truck Map</h1>
</div></div>

<div id="container">
	<div id="map-canvas"></div>
	<div id="out"></div>

	<div class="marker-menu">
    <div class="hover-truck" style="display:none;">Attach to Truck</div>
     <div style="position:absolute;top:25px;">Display Truck Info</div>
</div>
</div>
</div>