<<<<<<< HEAD
<h1 id="logo">Food Trucks Map</h1>		
<div>
<div id="map-canvas"></div>
<div id="out"></div>
<div>
=======

<div>
<div id="map-canvas"></div>
<div id="out"></div>
</div>
</br class="clear">

<h1 id="logo">Food Trucks Map</h1>	
>>>>>>> 28b1f4f97846ac72f2ffbc4cdc71dd473c6959fe
