<div class="container">
	<div class="five columns">
		<h2 id="formtitle">Add a new truck!</h2>
		<div id="formbubble"></br>
		<%= render partial: 'trucks/form', locals: { truck: @truck } %>
	</div>
</div>	
</div>