body {
	background-color: #383838;
	color: #ccc;
	/*font-family: 'Quicksand', sans-serif;*/
}

/*#title {
	padding: 0px;
	height: 120px;
*/
	/*background-color: #000;*/
}

#map {

	height: 600px;
	width: 100%;
}

#map-canvas {
    height: 450px;
    width: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px
}

