body {
	background-color: #c4630f;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

#title {
	padding: 0px;
	height: 100px;
	background-color: #000;
}

#map {
	height: 400px;
}

#map-canvas {
    height: 600px;
    width: 100%;
    background-color: #555;
    margin: 0px;
    padding: 0px
}