<div>
	<div class="aside" id="side-menu">
		<div id="cssmenu">
			<h1><i class="icon-search"></i></h1>
			<br>
			<ul>
				<li><p id="all_trucks">All Trucks</p></li>
			</ul>
			<ul>
				<li>
					<input id="search" type="text" placeholder="search" autofocus /> 
				</li>
			</ul>
		</div>
	</div>
</div>
