<!DOCTYPE html>
<html>
<head>
  <title>Food Trucks</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script TYPE'text/javacript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT04OIyuDnmRR1gQtVdk0aqRAgEHovTRI&amp;sensor=false"></script>
  <%= csrf_meta_tags %>
</head>

<<<<<<< HEAD
</div>
=======
<!-- Side Nav Bar -->

>>>>>>> 549eebbbfec7d6708b0f033d758d0f91ad594413
<body id="body">
	<div class="container">
		
		<%= yield %>
	</div>
</body>
</html>
 
