<!DOCTYPE html>
<html>
<head>
  <title>Food Trucks</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script TYPE'text/javacript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT04OIyuDnmRR1gQtVdk0aqRAgEHovTRI&amp;sensor=false"></script>
  <%= csrf_meta_tags %>
<!-- Font Awesome ref. -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <!-- Boot Strap for Font Awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

</div>
<body id="body">
	<div class="container">
		
		<%= yield %>
	</div>
</body>
</html>
 
